In [ ]:
import pandas as pd
import os
from os.path import dirname

root_path = dirname(os.getcwd())

pd.set_option("display.max_columns", None)
data_dir = root_path + "/data/datasets/original/"
data_dir_processed = root_path + "/data/datasets/processed/"
data_dir_graphs = root_path + "/data/datasets/graphs/"

print(root_path, data_dir, data_dir_processed, data_dir_graphs, sep="\n")

In [ ]:
dataset = "BPI Challenge 2017 - Offer log"

In [ ]:
import pm4py

log = pm4py.read_xes(f"datasets/original/{dataset}.xes.gz")
log = pm4py.convert_to_dataframe(log)
log.to_csv(f"datasets/original/{dataset}.csv")

In [ ]:
filename = data_dir + dataset + ".csv"
raw_data = pd.read_csv(filename, index_col=False)
raw_data = raw_data.drop(columns="Unnamed: 0")
raw_data.head()

In [7]:
tab_all = raw_data.rename(
    columns={"case:concept:name": "CaseID", "concept:name": "Activity"}
)
tab_all.head()

,Action,org:resource,Activity,EventOrigin,EventID,lifecycle:transition,time:timestamp,CaseID,case:MonthlyCost,case:Selected,case:ApplicationID,case:FirstWithdrawalAmount,case:CreditScore,case:OfferedAmount,case:NumberOfTerms,case:Accepted,OfferID
0,Created,User_17,O_Create Offer,Offer,Offer_247135719,complete,2016-01-02 09:17:05.720000+00:00,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,NaN
1,statechange,User_17,O_Created,Offer,OfferState_124849367,complete,2016-01-02 09:17:08.762000+00:00,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,Offer_247135719
2,statechange,User_17,O_Sent (online only),Offer,OfferState_440662877,complete,2016-01-02 09:19:21.330000+00:00,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,Offer_247135719
3,statechange,User_17,O_Cancelled,Offer,OfferState_591416028,complete,2016-01-02 09:21:26.034000+00:00,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,Offer_247135719
4,Created,User_17,O_Create Offer,Offer,Offer_941964966,complete,2016-01-02 09:21:42.022000+00:00,Offer_941964966,201.76,False,Application_196483749,4100.0,0,10000.0,57,True,NaN

In [ ]:
print(tab_all["Activity"].unique())
print(len(tab_all["Activity"].unique()))

In [8]:
tab_all["time:timestamp"] = [x.split(".")[0] for x in tab_all["time:timestamp"]]

tab_all["time:timestamp"] = tab_all["time:timestamp"].str.replace("-", "/")
tab_all["time:timestamp"] = tab_all["time:timestamp"].str.split("+", expand=True)[0]

tab_all.head()

,Action,org:resource,Activity,EventOrigin,EventID,lifecycle:transition,time:timestamp,CaseID,case:MonthlyCost,case:Selected,case:ApplicationID,case:FirstWithdrawalAmount,case:CreditScore,case:OfferedAmount,case:NumberOfTerms,case:Accepted,OfferID
0,Created,User_17,O_Create Offer,Offer,Offer_247135719,complete,2016/01/02 09:17:05,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,NaN
1,statechange,User_17,O_Created,Offer,OfferState_124849367,complete,2016/01/02 09:17:08,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,Offer_247135719
2,statechange,User_17,O_Sent (online only),Offer,OfferState_440662877,complete,2016/01/02 09:19:21,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,Offer_247135719
3,statechange,User_17,O_Cancelled,Offer,OfferState_591416028,complete,2016/01/02 09:21:26,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,Offer_247135719
4,Created,User_17,O_Create Offer,Offer,Offer_941964966,complete,2016/01/02 09:21:42,Offer_941964966,201.76,False,Application_196483749,4100.0,0,10000.0,57,True,NaN

In [9]:
from utils import translate_time

tab_all['time:timestamp'] = tab_all['time:timestamp'].apply(translate_time)
tab_all.head()

,Action,org:resource,Activity,EventOrigin,EventID,lifecycle:transition,time:timestamp,CaseID,case:MonthlyCost,case:Selected,case:ApplicationID,case:FirstWithdrawalAmount,case:CreditScore,case:OfferedAmount,case:NumberOfTerms,case:Accepted,OfferID
0,Created,User_17,O_Create Offer,Offer,Offer_247135719,complete,1.451723e+09,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,NaN
1,statechange,User_17,O_Created,Offer,OfferState_124849367,complete,1.451723e+09,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,Offer_247135719
2,statechange,User_17,O_Sent (online only),Offer,OfferState_440662877,complete,1.451723e+09,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,Offer_247135719
3,statechange,User_17,O_Cancelled,Offer,OfferState_591416028,complete,1.451723e+09,Offer_247135719,201.76,False,Application_196483749,10000.0,0,10000.0,57,True,Offer_247135719
4,Created,User_17,O_Create Offer,Offer,Offer_941964966,complete,1.451723e+09,Offer_941964966,201.76,False,Application_196483749,4100.0,0,10000.0,57,True,NaN

In [10]:
tab_all.columns

Index(['Action', 'org:resource', 'Activity', 'EventOrigin', 'EventID',
       'lifecycle:transition', 'time:timestamp', 'CaseID', 'case:MonthlyCost',
       'case:Selected', 'case:ApplicationID', 'case:FirstWithdrawalAmount',
       'case:CreditScore', 'case:OfferedAmount', 'case:NumberOfTerms',
       'case:Accepted', 'OfferID'],
      dtype='object')

In [12]:
categorical_columns = [
    "Action",
    "org:resource",
    "Activity",
    "EventOrigin",
    "lifecycle:transition",
    "case:Selected",
    "case:Accepted",
]
real_value_columns = [
    "time:timestamp",
    "case:MonthlyCost",
    "case:FirstWithdrawalAmount",
    "case:CreditScore",
    "case:OfferedAmount",
    "case:NumberOfTerms",
]

In [13]:
for k in tab_all.columns:
    print(f"{k} is {len(tab_all[k].unique())}")

Action is 2
org:resource is 144
Activity is 8
EventOrigin is 1
EventID is 193849
lifecycle:transition is 1
time:timestamp is 171177
CaseID is 42995
case:MonthlyCost is 5816
case:Selected is 2
case:ApplicationID is 31509
case:FirstWithdrawalAmount is 5930
case:CreditScore is 520
case:OfferedAmount is 663
case:NumberOfTerms is 147
case:Accepted is 2
OfferID is 42996

In [14]:
tab_all = tab_all.drop(columns=["EventID" , "OfferID", "case:ApplicationID"])

In [15]:
tab_all.isnull().values.any()

False

In [ ]:
tab_all = tab_all.fillna({key: "NAN" for key in categorical_columns})
tab_all = tab_all.fillna({key: -1 for key in real_value_columns})

In [38]:
tab_all.to_csv(data_dir_processed + f"{dataset}_processed_all.csv", index=False)

In [17]:
from math import log


min_time = tab_all['time:timestamp'].min() 

tab_all['time:timestamp'] -= min_time
tab_all['time:timestamp'] = [ log(x)  if x > 0 else 0. for x in tab_all['time:timestamp'].values]


tab_all.head()

,Action,org:resource,Activity,EventOrigin,lifecycle:transition,time:timestamp,CaseID,case:MonthlyCost,case:Selected,case:FirstWithdrawalAmount,case:CreditScore,case:OfferedAmount,case:NumberOfTerms,case:Accepted
0,Created,User_17,O_Create Offer,Offer,complete,0.000000,Offer_247135719,201.76,False,10000.0,0,10000.0,57,True
1,statechange,User_17,O_Created,Offer,complete,1.098612,Offer_247135719,201.76,False,10000.0,0,10000.0,57,True
2,statechange,User_17,O_Sent (online only),Offer,complete,4.912655,Offer_247135719,201.76,False,10000.0,0,10000.0,57,True
3,statechange,User_17,O_Cancelled,Offer,complete,5.564520,Offer_247135719,201.76,False,10000.0,0,10000.0,57,True
4,Created,User_17,O_Create Offer,Offer,complete,5.624018,Offer_941964966,201.76,False,4100.0,0,10000.0,57,True

In [18]:
for k in real_value_columns:
    tab_all[k] = [log(x) if x > 0 else 0. for x in tab_all[k].values]
tab_all.head()

,Action,org:resource,Activity,EventOrigin,lifecycle:transition,time:timestamp,CaseID,case:MonthlyCost,case:Selected,case:FirstWithdrawalAmount,case:CreditScore,case:OfferedAmount,case:NumberOfTerms,case:Accepted
0,Created,User_17,O_Create Offer,Offer,complete,0.000000,Offer_247135719,5.307079,False,9.210340,0.0,9.21034,4.043051,True
1,statechange,User_17,O_Created,Offer,complete,0.094048,Offer_247135719,5.307079,False,9.210340,0.0,9.21034,4.043051,True
2,statechange,User_17,O_Sent (online only),Offer,complete,1.591815,Offer_247135719,5.307079,False,9.210340,0.0,9.21034,4.043051,True
3,statechange,User_17,O_Cancelled,Offer,complete,1.716411,Offer_247135719,5.307079,False,9.210340,0.0,9.21034,4.043051,True
4,Created,User_17,O_Create Offer,Offer,complete,1.727046,Offer_941964966,5.307079,False,8.318742,0.0,9.21034,4.043051,True

In [19]:
tab_all

,Action,org:resource,Activity,EventOrigin,lifecycle:transition,time:timestamp,CaseID,case:MonthlyCost,case:Selected,case:FirstWithdrawalAmount,case:CreditScore,case:OfferedAmount,case:NumberOfTerms,case:Accepted
0,Created,User_17,O_Create Offer,Offer,complete,0.000000,Offer_247135719,5.307079,False,9.210340,0.000000,9.210340,4.043051,True
1,statechange,User_17,O_Created,Offer,complete,0.094048,Offer_247135719,5.307079,False,9.210340,0.000000,9.210340,4.043051,True
2,statechange,User_17,O_Sent (online only),Offer,complete,1.591815,Offer_247135719,5.307079,False,9.210340,0.000000,9.210340,4.043051,True
3,statechange,User_17,O_Cancelled,Offer,complete,1.716411,Offer_247135719,5.307079,False,9.210340,0.000000,9.210340,4.043051,True
4,Created,User_17,O_Create Offer,Offer,complete,1.727046,Offer_941964966,5.307079,False,8.318742,0.000000,9.210340,4.043051,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193844,statechange,User_133,O_Returned,Offer,complete,2.853403,Offer_237257455,5.022959,True,2.602690,6.901737,9.908475,5.192957,True
193845,statechange,User_83,O_Accepted,Offer,complete,2.853479,Offer_237257455,5.022959,True,2.602690,6.901737,9.908475,5.192957,True
193846,Created,User_10,O_Create Offer,Offer,complete,2.853499,Offer_1033292322,5.751683,False,10.650176,0.000000,10.650176,5.192957,False
193847,statechange,User_10,O_Created,Offer,complete,2.853499,Offer_1033292322,5.751683,False,10.650176,0.000000,10.650176,5.192957,False
193848,statechange,User_10,O_Sent (online only),Offer,complete,2.853499,Offer_1033292322,5.751683,False,10.650176,0.000000,10.650176,5.192957,False

In [33]:
from utils import get_resource_role_map
roles_map = get_resource_role_map(tab_all)

/home/sebdis/ProcessMining/HGNN/HGNN_NA/data/utils.py:218: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data['ac_rl'] = self.data.apply(associations, axis=1)

20.0 Analysing resource pool
40.0 Analysing resource pool
60.0 Analysing resource pool
80.0 Analysing resource pool
100.0 Analysing resource pool
('ROLES \n'
 '\n'
 "([{'role': 'Role 1', 'quantity': 94, 'members': ['User_17', 'User_38', "
 "'User_19', 'User_52', 'User_3', 'User_8', 'User_16', 'User_43', 'User_89', "
 "'User_15', 'User_28', 'User_20', 'User_7', 'User_2', 'User_14', 'User_9', "
 "'User_13', 'User_24', 'User_31', 'User_5', 'User_10', 'User_70', 'User_22', "
 "'User_11', 'User_49', 'User_92', 'User_85', 'User_4', 'User_41', 'User_71', "
 "'User_21', 'User_37', 'User_110', 'User_44', 'User_34', 'User_74', "
 "'User_36', 'User_18', 'User_12', 'User_108', 'User_6', 'User_47', 'User_35', "
 "'User_50', 'User_25', 'User_33', 'User_26', 'User_23', 'User_73', 'User_86', "
 "'User_76', 'User_141', 'User_32', 'User_39', 'User_97', 'User_42', "
 "'User_61', 'User_82', 'User_46', 'User_60', 'User_103', 'User_53', "
 "'User_48', 'User_51', 'User_40', 'User_45', 'User_54', 'User_57', 'User_63', "
 "'User_58', 'User_62', 'User_55', 'User_56', 'User_78', 'User_91', 'User_59', "
 "'User_132', 'User_67', 'User_104', 'User_66', 'User_84', 'User_77', "
 "'User_65', 'User_79', 'User_80', 'User_96', 'User_69', 'User_72', 'User_98', "
 "'User_81', 'User_88', 'User_94', 'User_135', 'User_105']}, {'role': 'Role "
 "2', 'quantity': 46, 'members': ['User_116', 'User_95', 'User_106', "
 "'User_119', 'User_134', 'User_140', 'User_68', 'User_29', 'User_90', "
 "'User_117', 'User_115', 'User_137', 'User_112', 'User_87', 'User_113', "
 "'User_27', 'User_99', 'User_118', 'User_75', 'User_120', 'User_30', "
 "'User_114', 'User_109', 'User_100', 'User_127', 'User_101', 'User_102', "
 "'User_144', 'User_125', 'User_121', 'User_138', 'User_143', 'User_83', "
 "'User_122', 'User_107', 'User_124', 'User_123', 'User_128', 'User_93', "
 "'User_126', 'User_136', 'User_129', 'User_139', 'User_130', 'User_131', "
 "'User_133']}, {'role': 'Role 3', 'quantity': 4, 'members': ['User_111', "
 "'User_1', 'User_64', 'User_142']}], [{'role': 'Role 1', 'resource': "
 "'User_17'}, {'role': 'Role 1', 'resource': 'User_38'}, {'role': 'Role 1', "
 "'resource': 'User_19'}, {'role': 'Role 1', 'resource': 'User_52'}, {'role': "
 "'Role 1', 'resource': 'User_3'}, {'role': 'Role 1', 'resource': 'User_8'}, "
 "{'role': 'Role 1', 'resource': 'User_16'}, {'role': 'Role 1', 'resource': "
 "'User_43'}, {'role': 'Role 1', 'resource': 'User_89'}, {'role': 'Role 1', "
 "'resource': 'User_15'}, {'role': 'Role 1', 'resource': 'User_28'}, {'role': "
 "'Role 1', 'resource': 'User_20'}, {'role': 'Role 1', 'resource': 'User_7'}, "
 "{'role': 'Role 1', 'resource': 'User_2'}, {'role': 'Role 1', 'resource': "
 "'User_14'}, {'role': 'Role 1', 'resource': 'User_9'}, {'role': 'Role 1', "
 "'resource': 'User_13'}, {'role': 'Role 1', 'resource': 'User_24'}, {'role': "
 "'Role 1', 'resource': 'User_31'}, {'role': 'Role 1', 'resource': 'User_5'}, "
 "{'role': 'Role 1', 'resource': 'User_10'}, {'role': 'Role 1', 'resource': "
 "'User_70'}, {'role': 'Role 1', 'resource': 'User_22'}, {'role': 'Role 1', "
 "'resource': 'User_11'}, {'role': 'Role 1', 'resource': 'User_49'}, {'role': "
 "'Role 1', 'resource': 'User_92'}, {'role': 'Role 1', 'resource': 'User_85'}, "
 "{'role': 'Role 1', 'resource': 'User_4'}, {'role': 'Role 1', 'resource': "
 "'User_41'}, {'role': 'Role 1', 'resource': 'User_71'}, {'role': 'Role 1', "
 "'resource': 'User_21'}, {'role': 'Role 1', 'resource': 'User_37'}, {'role': "
 "'Role 1', 'resource': 'User_110'}, {'role': 'Role 1', 'resource': "
 "'User_44'}, {'role': 'Role 1', 'resource': 'User_34'}, {'role': 'Role 1', "
 "'resource': 'User_74'}, {'role': 'Role 1', 'resource': 'User_36'}, {'role': "
 "'Role 1', 'resource': 'User_18'}, {'role': 'Role 1', 'resource': 'User_12'}, "
 "{'role': 'Role 1', 'resource': 'User_108'}, {'role': 'Role 1', 'resource': "
 "'User_6'}, {'role': 'Role 1', 'resource': 'User_47'}, {'role': 'Role 1', "
 "'resource': 'User_35'}, {'role': 'Role 1', 'resource': 'User_50'}, {'role': "
 "'Role 1', 'resource': 'User_25'}, {'role': 'Role 1', 'resource': 'User_33'}, "
 "{'role': 'Role 1', 'resource': 'User_26'}, {'role': 'Role 1', 'resource': "
 "'User_23'}, {'role': 'Role 1', 'resource': 'User_73'}, {'role': 'Role 1', "
 "'resource': 'User_86'}, {'role': 'Role 1', 'resource': 'User_76'}, {'role': "
 "'Role 1', 'resource': 'User_141'}, {'role': 'Role 1', 'resource': "
 "'User_32'}, {'role': 'Role 1', 'resource': 'User_39'}, {'role': 'Role 1', "
 "'resource': 'User_97'}, {'role': 'Role 1', 'resource': 'User_42'}, {'role': "
 "'Role 1', 'resource': 'User_61'}, {'role': 'Role 1', 'resource': 'User_82'}, "
 "{'role': 'Role 1', 'resource': 'User_46'}, {'role': 'Role 1', 'resource': "
 "'User_60'}, {'role': 'Role 1', 'resource': 'User_103'}, {'role': 'Role 1', "
 "'resource': 'User_53'}, {'role': 'Role 1', 'resource': 'User_48'}, {'role': "
 "'Role 1', 'resource': 'User_51'}, {'role': 'Role 1', 'resource': 'User_40'}, "
 "{'role': 'Role 1', 'resource': 'User_45'}, {'role': 'Role 1', 'resource': "
 "'User_54'}, {'role': 'Role 1', 'resource': 'User_57'}, {'role': 'Role 1', "
 "'resource': 'User_63'}, {'role': 'Role 1', 'resource': 'User_58'}, {'role': "
 "'Role 1', 'resource': 'User_62'}, {'role': 'Role 1', 'resource': 'User_55'}, "
 "{'role': 'Role 1', 'resource': 'User_56'}, {'role': 'Role 1', 'resource': "
 "'User_78'}, {'role': 'Role 1', 'resource': 'User_91'}, {'role': 'Role 1', "
 "'resource': 'User_59'}, {'role': 'Role 1', 'resource': 'User_132'}, {'role': "
 "'Role 1', 'resource': 'User_67'}, {'role': 'Role 1', 'resource': "
 "'User_104'}, {'role': 'Role 1', 'resource': 'User_66'}, {'role': 'Role 1', "
 "'resource': 'User_84'}, {'role': 'Role 1', 'resource': 'User_77'}, {'role': "
 "'Role 1', 'resource': 'User_65'}, {'role': 'Role 1', 'resource': 'User_79'}, "
 "{'role': 'Role 1', 'resource': 'User_80'}, {'role': 'Role 1', 'resource': "
 "'User_96'}, {'role': 'Role 1', 'resource': 'User_69'}, {'role': 'Role 1', "
 "'resource': 'User_72'}, {'role': 'Role 1', 'resource': 'User_98'}, {'role': "
 "'Role 1', 'resource': 'User_81'}, {'role': 'Role 1', 'resource': 'User_88'}, "
 "{'role': 'Role 1', 'resource': 'User_94'}, {'role': 'Role 1', 'resource': "
 "'User_135'}, {'role': 'Role 1', 'resource': 'User_105'}, {'role': 'Role 2', "
 "'resource': 'User_116'}, {'role': 'Role 2', 'resource': 'User_95'}, {'role': "
 "'Role 2', 'resource': 'User_106'}, {'role': 'Role 2', 'resource': "
 "'User_119'}, {'role': 'Role 2', 'resource': 'User_134'}, {'role': 'Role 2', "
 "'resource': 'User_140'}, {'role': 'Role 2', 'resource': 'User_68'}, {'role': "
 "'Role 2', 'resource': 'User_29'}, {'role': 'Role 2', 'resource': 'User_90'}, "
 "{'role': 'Role 2', 'resource': 'User_117'}, {'role': 'Role 2', 'resource': "
 "'User_115'}, {'role': 'Role 2', 'resource': 'User_137'}, {'role': 'Role 2', "
 "'resource': 'User_112'}, {'role': 'Role 2', 'resource': 'User_87'}, {'role': "
 "'Role 2', 'resource': 'User_113'}, {'role': 'Role 2', 'resource': "
 "'User_27'}, {'role': 'Role 2', 'resource': 'User_99'}, {'role': 'Role 2', "
 "'resource': 'User_118'}, {'role': 'Role 2', 'resource': 'User_75'}, {'role': "
 "'Role 2', 'resource': 'User_120'}, {'role': 'Role 2', 'resource': "
 "'User_30'}, {'role': 'Role 2', 'resource': 'User_114'}, {'role': 'Role 2', "
 "'resource': 'User_109'}, {'role': 'Role 2', 'resource': 'User_100'}, "
 "{'role': 'Role 2', 'resource': 'User_127'}, {'role': 'Role 2', 'resource': "
 "'User_101'}, {'role': 'Role 2', 'resource': 'User_102'}, {'role': 'Role 2', "
 "'resource': 'User_144'}, {'role': 'Role 2', 'resource': 'User_125'}, "
 "{'role': 'Role 2', 'resource': 'User_121'}, {'role': 'Role 2', 'resource': "
 "'User_138'}, {'role': 'Role 2', 'resource': 'User_143'}, {'role': 'Role 2', "
 "'resource': 'User_83'}, {'role': 'Role 2', 'resource': 'User_122'}, {'role': "
 "'Role 2', 'resource': 'User_107'}, {'role': 'Role 2', 'resource': "
 "'User_124'}, {'role': 'Role 2', 'resource': 'User_123'}, {'role': 'Role 2', "
 "'resource': 'User_128'}, {'role': 'Role 2', 'resource': 'User_93'}, {'role': "
 "'Role 2', 'resource': 'User_126'}, {'role': 'Role 2', 'resource': "
 "'User_136'}, {'role': 'Role 2', 'resource': 'User_129'}, {'role': 'Role 2', "
 "'resource': 'User_139'}, {'role': 'Role 2', 'resource': 'User_130'}, "
 "{'role': 'Role 2', 'resource': 'User_131'}, {'role': 'Role 2', 'resource': "
 "'User_133'}, {'role': 'Role 3', 'resource': 'User_111'}, {'role': 'Role 3', "
 "'resource': 'User_1'}, {'role': 'Role 3', 'resource': 'User_64'}, {'role': "
 "'Role 3', 'resource': 'User_142'}])\n"
 '\n')

In [34]:
roles_map = {
    x["resource"] : x["role"]
    for x in roles_map
}
roles_map

{'User_17': 'Role 1',
 'User_38': 'Role 1',
 'User_19': 'Role 1',
 'User_52': 'Role 1',
 'User_3': 'Role 1',
 'User_8': 'Role 1',
 'User_16': 'Role 1',
 'User_43': 'Role 1',
 'User_89': 'Role 1',
 'User_15': 'Role 1',
 'User_28': 'Role 1',
 'User_20': 'Role 1',
 'User_7': 'Role 1',
 'User_2': 'Role 1',
 'User_14': 'Role 1',
 'User_9': 'Role 1',
 'User_13': 'Role 1',
 'User_24': 'Role 1',
 'User_31': 'Role 1',
 'User_5': 'Role 1',
 'User_10': 'Role 1',
 'User_70': 'Role 1',
 'User_22': 'Role 1',
 'User_11': 'Role 1',
 'User_49': 'Role 1',
 'User_92': 'Role 1',
 'User_85': 'Role 1',
 'User_4': 'Role 1',
 'User_41': 'Role 1',
 'User_71': 'Role 1',
 'User_21': 'Role 1',
 'User_37': 'Role 1',
 'User_110': 'Role 1',
 'User_44': 'Role 1',
 'User_34': 'Role 1',
 'User_74': 'Role 1',
 'User_36': 'Role 1',
 'User_18': 'Role 1',
 'User_12': 'Role 1',
 'User_108': 'Role 1',
 'User_6': 'Role 1',
 'User_47': 'Role 1',
 'User_35': 'Role 1',
 'User_50': 'Role 1',
 'User_25': 'Role 1',
 'User_33': 'Role 1',
 'User_26': 'Role 1',
 'User_23': 'Role 1',
 'User_73': 'Role 1',
 'User_86': 'Role 1',
 'User_76': 'Role 1',
 'User_141': 'Role 1',
 'User_32': 'Role 1',
 'User_39': 'Role 1',
 'User_97': 'Role 1',
 'User_42': 'Role 1',
 'User_61': 'Role 1',
 'User_82': 'Role 1',
 'User_46': 'Role 1',
 'User_60': 'Role 1',
 'User_103': 'Role 1',
 'User_53': 'Role 1',
 'User_48': 'Role 1',
 'User_51': 'Role 1',
 'User_40': 'Role 1',
 'User_45': 'Role 1',
 'User_54': 'Role 1',
 'User_57': 'Role 1',
 'User_63': 'Role 1',
 'User_58': 'Role 1',
 'User_62': 'Role 1',
 'User_55': 'Role 1',
 'User_56': 'Role 1',
 'User_78': 'Role 1',
 'User_91': 'Role 1',
 'User_59': 'Role 1',
 'User_132': 'Role 1',
 'User_67': 'Role 1',
 'User_104': 'Role 1',
 'User_66': 'Role 1',
 'User_84': 'Role 1',
 'User_77': 'Role 1',
 'User_65': 'Role 1',
 'User_79': 'Role 1',
 'User_80': 'Role 1',
 'User_96': 'Role 1',
 'User_69': 'Role 1',
 'User_72': 'Role 1',
 'User_98': 'Role 1',
 'User_81': 'Role 1',
 'User_88': 'Role 1',
 'User_94': 'Role 1',
 'User_135': 'Role 1',
 'User_105': 'Role 1',
 'User_116': 'Role 2',
 'User_95': 'Role 2',
 'User_106': 'Role 2',
 'User_119': 'Role 2',
 'User_134': 'Role 2',
 'User_140': 'Role 2',
 'User_68': 'Role 2',
 'User_29': 'Role 2',
 'User_90': 'Role 2',
 'User_117': 'Role 2',
 'User_115': 'Role 2',
 'User_137': 'Role 2',
 'User_112': 'Role 2',
 'User_87': 'Role 2',
 'User_113': 'Role 2',
 'User_27': 'Role 2',
 'User_99': 'Role 2',
 'User_118': 'Role 2',
 'User_75': 'Role 2',
 'User_120': 'Role 2',
 'User_30': 'Role 2',
 'User_114': 'Role 2',
 'User_109': 'Role 2',
 'User_100': 'Role 2',
 'User_127': 'Role 2',
 'User_101': 'Role 2',
 'User_102': 'Role 2',
 'User_144': 'Role 2',
 'User_125': 'Role 2',
 'User_121': 'Role 2',
 'User_138': 'Role 2',
 'User_143': 'Role 2',
 'User_83': 'Role 2',
 'User_122': 'Role 2',
 'User_107': 'Role 2',
 'User_124': 'Role 2',
 'User_123': 'Role 2',
 'User_128': 'Role 2',
 'User_93': 'Role 2',
 'User_126': 'Role 2',
 'User_136': 'Role 2',
 'User_129': 'Role 2',
 'User_139': 'Role 2',
 'User_130': 'Role 2',
 'User_131': 'Role 2',
 'User_133': 'Role 2',
 'User_111': 'Role 3',
 'User_1': 'Role 3',
 'User_64': 'Role 3',
 'User_142': 'Role 3'}

In [35]:
tab_all["org:resource:role"] = [roles_map[role] for role in tab_all["org:resource"].values]

In [39]:
categorical_columns.append("org:resource:role")

In [36]:
tab_all

,Action,org:resource,Activity,EventOrigin,lifecycle:transition,time:timestamp,CaseID,case:MonthlyCost,case:Selected,case:FirstWithdrawalAmount,case:CreditScore,case:OfferedAmount,case:NumberOfTerms,case:Accepted,org:resource:role
0,Created,User_17,O_Create Offer,Offer,complete,0.000000,Offer_247135719,5.307079,False,9.210340,0.000000,9.210340,4.043051,True,Role 1
1,statechange,User_17,O_Created,Offer,complete,0.094048,Offer_247135719,5.307079,False,9.210340,0.000000,9.210340,4.043051,True,Role 1
2,statechange,User_17,O_Sent (online only),Offer,complete,1.591815,Offer_247135719,5.307079,False,9.210340,0.000000,9.210340,4.043051,True,Role 1
3,statechange,User_17,O_Cancelled,Offer,complete,1.716411,Offer_247135719,5.307079,False,9.210340,0.000000,9.210340,4.043051,True,Role 1
4,Created,User_17,O_Create Offer,Offer,complete,1.727046,Offer_941964966,5.307079,False,8.318742,0.000000,9.210340,4.043051,True,Role 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193844,statechange,User_133,O_Returned,Offer,complete,2.853403,Offer_237257455,5.022959,True,2.602690,6.901737,9.908475,5.192957,True,Role 2
193845,statechange,User_83,O_Accepted,Offer,complete,2.853479,Offer_237257455,5.022959,True,2.602690,6.901737,9.908475,5.192957,True,Role 2
193846,Created,User_10,O_Create Offer,Offer,complete,2.853499,Offer_1033292322,5.751683,False,10.650176,0.000000,10.650176,5.192957,False,Role 1
193847,statechange,User_10,O_Created,Offer,complete,2.853499,Offer_1033292322,5.751683,False,10.650176,0.000000,10.650176,5.192957,False,Role 1
193848,statechange,User_10,O_Sent (online only),Offer,complete,2.853499,Offer_1033292322,5.751683,False,10.650176,0.000000,10.650176,5.192957,False,Role 1

# Split the dataset

In [37]:
split_ratio = 2 / 3

first_act_tab = (
    tab_all.groupby("CaseID").first().sort_values("time:timestamp").reset_index()
)
first_act_tab = first_act_tab[
    ~first_act_tab.duplicated(subset=["CaseID", "Activity"], keep="first")
]
first_act_tab = first_act_tab.reset_index(drop=True)

list_train_valid_cases = list(
    first_act_tab[: int(split_ratio * len(first_act_tab))]["CaseID"].unique()
)

list_train_cases = list_train_valid_cases[: int(len(list_train_valid_cases) * 0.8)]
tab_train = tab_all[tab_all["CaseID"].isin(list_train_cases)].reset_index(drop=True)
tab_train.to_csv(data_dir_processed+ f"{dataset}_processed_train.csv", index = False)

list_valid_cases = list_train_valid_cases[int(len(list_train_valid_cases) * 0.8) :]
tab_valid = tab_all[tab_all["CaseID"].isin(list_valid_cases)].reset_index(drop=True)
tab_valid.to_csv(data_dir_processed+f"{dataset}_processed_valid.csv", index = False)

list_test_cases = list(
    first_act_tab[int(split_ratio * len(first_act_tab)) :]["CaseID"].unique()
)
tab_test = tab_all[tab_all["CaseID"].isin(list_test_cases)].reset_index(drop=True)
tab_test.to_csv(data_dir_processed+ f"{dataset}_processed_test.csv", index = False)

In [40]:
tab_all.columns

Index(['Action', 'org:resource', 'Activity', 'EventOrigin',
       'lifecycle:transition', 'time:timestamp', 'CaseID', 'case:MonthlyCost',
       'case:Selected', 'case:FirstWithdrawalAmount', 'case:CreditScore',
       'case:OfferedAmount', 'case:NumberOfTerms', 'case:Accepted',
       'org:resource:role'],
      dtype='object')

In [ ]:
tab_train

### Prepare the graphs

In [22]:
from utils import get_case_ids, is_static, get_one_hot_encoder, get_one_hot_encodings

from torch import tensor, max, int64, float32
from torch_geometric.data import HeteroData
import numpy as np

In [23]:
def get_node_features(dataset: pd.DataFrame, trace: pd.DataFrame, cat_features, real_features) -> dict:
    columns_static = [c for c in trace if is_static(trace[c])]

    res = {}

    for key in trace:
        values = trace[key].values
        
        
        if key in cat_features:
            onehot_encoder = get_one_hot_encoder(dataset, key)
            if key not in columns_static:
                res[key] = tensor(
                    get_one_hot_encodings(onehot_encoder, values),
                    dtype=float32,
                    requires_grad=True
                )
            else:
                res[key] = tensor(
                    get_one_hot_encodings(onehot_encoder, np.array([values[0]])),
                    dtype=float32,
                    requires_grad=True
                )
        if key in real_features:
            if key not in columns_static:
                res[key] = tensor(values,  dtype=float32,requires_grad=True)
            else:
                res[key] = tensor([values[0]], dtype=float32,requires_grad=True)
            res[key] = res[key].reshape(res[key].shape[0], 1)
        
    

    return res

In [24]:


def compute_edges_indexs(node_features: dict, prefix_len):
    res = {}
    keys = node_features.keys()
    # indexes = [[i, j] for i in range(prefix_len) for j in range(i + 1, prefix_len)]
    indexes = [[i, i + 1] for i in range(prefix_len-1)]
    # activities indexes
    for k in keys:
        if len(node_features[k]) != 1:
            if k == "Activity":
                res[(k, "followed_by", k)] = indexes
                for k2 in keys:
                    if k2 != k:
                        if len(node_features[k2]) == 1:
                            res[(k, "related_to", k2)] = [
                                [i, 0] for i in range(prefix_len)
                            ]
                        else:
                            res[(k, "related_to", k2)] = [
                                [i, i] for i in range(prefix_len)
                            ]
            else:
                res[(k, "related_to", k)] = indexes

    return res

In [25]:
import torch

from torch import cat

def compute_edges_features(node_features, edges_indexes, cat_features, real_features):
    res = {}

    for k in edges_indexes:
        if k[0] == k[2]:
            indexes = edges_indexes[k]
            res[k] = []
            
            if k[0] in cat_features:
                for i in indexes:
                        res[k].append(      
                            cat(
                                (
                                    tensor([torch.equal(node_features[k[0]][i[0]],node_features[k[0]][i[1]])], dtype=torch.float32),
                                    tensor([i[1] - i[0]], dtype=torch.float32),
                                )
                            )
                        )
            elif k[0] in real_features:
                for i in indexes:
                        res[k].append(
                            tensor(
                                [
                                    node_features[k[0]][i[1]]
                                    - node_features[k[0]][i[0]],
                                    i[1] - i[0],
                                ]
                            )
                        )
            

    return res

In [26]:
# from pprint import pprint as print

from torch import stack

def build_prefixes_graph_from_trace(dataset, trace, cat_features, real_features):
    X = []  # graphs
   

    node_features = get_node_features(dataset, trace, cat_features, real_features)
    
    
    prefix_lenghts = range(2, len(trace))
    # print(prefix_lenghts)
    for prefix in prefix_lenghts:
        # print(prefix)

        # init node types and features
        G = HeteroData()
        for k in node_features:
            G[k].x = node_features[k][:prefix]
        

        edges_indexes = compute_edges_indexs(node_features, prefix)

        edge_features = compute_edges_features(node_features, edges_indexes, cat_features, real_features)
        
        for k in edge_features:
            G[k].edge_attr = stack(edge_features[k])
            


        for k in edges_indexes:
            ce = [[], []]
            for i in range(len(edges_indexes[k])):
                ce[0].append(edges_indexes[k][i][0])
                ce[1].append(edges_indexes[k][i][1])
            edges_indexes[k] = ce

        for k in edges_indexes:
            G[k].edge_index = tensor(edges_indexes[k], dtype=int64)

        G.y = {}
        for k in node_features:
            if k in cat_features:
                G.y[k] = torch.max(node_features[k][0],0)[1] if len(node_features[k]) == 1 else torch.max(node_features[k][prefix], 0)[1]
            else:
                G.y[k] = torch.tensor([node_features[k][prefix][0]]) if len(node_features[k]) > 1 else node_features[k][0].clone().detach()
        
        X.append(G)

        
    return X

## Create the datasets

In [27]:
case_train_ids = get_case_ids(tab_train)
case_valid_ids = get_case_ids(tab_valid)
case_test_ids = get_case_ids(tab_test)

In [28]:
print(len(case_train_ids))
print(len(case_valid_ids))
print(len(case_test_ids))

22930
5733
14332

In [41]:
trace = (
        tab_train.query(f"CaseID == '{case_train_ids[0]}'")
        .reset_index()
        .drop(columns="index")
        .drop(columns="CaseID")
    )
trace

,Action,org:resource,Activity,EventOrigin,lifecycle:transition,time:timestamp,case:MonthlyCost,case:Selected,case:FirstWithdrawalAmount,case:CreditScore,case:OfferedAmount,case:NumberOfTerms,case:Accepted,org:resource:role
0,Created,User_17,O_Create Offer,Offer,complete,0.000000,5.307079,False,9.21034,0.0,9.21034,4.043051,True,Role 1
1,statechange,User_17,O_Created,Offer,complete,0.094048,5.307079,False,9.21034,0.0,9.21034,4.043051,True,Role 1
2,statechange,User_17,O_Sent (online only),Offer,complete,1.591815,5.307079,False,9.21034,0.0,9.21034,4.043051,True,Role 1
3,statechange,User_17,O_Cancelled,Offer,complete,1.716411,5.307079,False,9.21034,0.0,9.21034,4.043051,True,Role 1

In [42]:
graphs = build_prefixes_graph_from_trace(tab_all, trace, categorical_columns, real_value_columns)

In [43]:
graphs[1].y

{'Action': tensor(1),
 'org:resource': tensor(53),
 'Activity': tensor(1),
 'EventOrigin': tensor(0),
 'lifecycle:transition': tensor(0),
 'time:timestamp': tensor([1.7164]),
 'case:MonthlyCost': tensor([5.3071]),
 'case:Selected': tensor(0),
 'case:FirstWithdrawalAmount': tensor([9.2103]),
 'case:CreditScore': tensor([0.]),
 'case:OfferedAmount': tensor([9.2103]),
 'case:NumberOfTerms': tensor([4.0431]),
 'case:Accepted': tensor(1),
 'org:resource:role': tensor(0)}

In [44]:
graphs[1].x_dict

{'Action': tensor([[1., 0.],
         [0., 1.],
         [0., 1.]], grad_fn=<SliceBackward0>),
 'org:resource': tensor([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]],
        grad_fn=<SliceBackward0>),
 'Activity': tensor([[0., 0., 1., 0., 0., 0., 0., 0.],
         [0., 0., 0., 1., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0., 0., 0., 1.]], grad_fn=<SliceBackward0>),
 'EventOrigin': tensor([[1.]], grad_fn=<SliceBackward0>),
 'lifecycle:transition': tensor([[1.]], grad_fn=<SliceBackward0>),
 'time:timestamp': tensor([[0.0000],
         [0.0940],
         [1.5918]], grad_fn=<SliceBackward0>),
 'case:MonthlyCost': tensor([[5.3071]], grad_fn=<SliceBackward0>),
 'case:Selected': tensor([[1., 0.]], grad_fn=<SliceBackward0>),
 'case:FirstWithdrawalAmount': tensor([[9.2103]], grad_fn=<SliceBackward0>),
 'case:CreditScore': tensor([[0.]], grad_fn=<SliceBackward0>),
 'case:OfferedAmount': tensor([[9.2103]], grad_fn=<SliceBackward0>),
 'case:NumberOfTerms': tensor([[4.0431]], grad_fn=<SliceBackward0>),
 'case:Accepted': tensor([[0., 1.]], grad_fn=<SliceBackward0>),
 'org:resource:role': tensor([[1., 0., 0.]], grad_fn=<SliceBackward0>)}

In [ ]:
graphs[1].edge_items()

In [45]:
from tqdm.notebook import tqdm


print("Preparing training dataset...")

X_train = []


for i in tqdm(range(len(case_train_ids))):
    trace = (
        tab_train.query(f"CaseID == '{case_train_ids[i]}'")
        .reset_index()
        .drop(columns="index")
        .drop(columns="CaseID")
    )
    graphs = build_prefixes_graph_from_trace(dataset=tab_all, trace=trace, cat_features=categorical_columns, real_features=real_value_columns)
    
    # print(trace)
    # print([x.x_dict for x in graphs[:2]])
    # print(labels[:2])
    # break

    for i in range(len(graphs)):
        X_train.append(graphs[i])
        

# Y_train = tensor(Y_train, dtype=float32)

print("Done!\n\n")

Preparing training dataset...

  0%|          | 0/22930 [00:00<?, ?it/s]

Done!

In [46]:
print("Preparing validation dataset...")

X_valid = []


for i in tqdm(range(len(case_valid_ids))):
    trace = (
        tab_valid.query(f"CaseID == '{case_valid_ids[i]}'")
        .reset_index()
        .drop(columns="index")
        .drop(columns="CaseID")
    )
    graphs = build_prefixes_graph_from_trace(dataset=tab_all, trace=trace,cat_features=categorical_columns, real_features=real_value_columns)
    for i in range(len(graphs)):
        X_valid.append(graphs[i])
       

# Y_valid = tensor(Y_valid)

print("Done!\n\n")

Preparing validation dataset...

  0%|          | 0/5733 [00:00<?, ?it/s]

Done!

In [47]:
print("Preparing test dataset...")

X_test = []


for i in tqdm(range(len(case_test_ids))):
    trace = (
        tab_test.query(f"CaseID == '{case_test_ids[i]}'")
        .reset_index()
        .drop(columns="index")
        .drop(columns="CaseID")
    )
    graphs = build_prefixes_graph_from_trace(dataset=tab_all, trace=trace,cat_features=categorical_columns, real_features=real_value_columns)
    for i in range(len(graphs)):
        X_test.append(graphs[i])
     

# Y_test = tensor(Y_test)

print("Done!\n\n")

Preparing test dataset...

  0%|          | 0/14332 [00:00<?, ?it/s]

Done!

### Let's Save the graph datasets

In [48]:
import pickle

with open(data_dir_graphs + dataset + "_TRAIN_event_prediction_FINAL.pkl", "wb") as f:
    pickle.dump(X_train, f)
with open(data_dir_graphs + dataset + "_VALID_event_prediction_FINAL.pkl", "wb") as f:
    pickle.dump(X_valid, f)
with open(data_dir_graphs + dataset + "_TEST_event_prediction_FINAL.pkl", "wb") as f:
    pickle.dump(X_test, f)